/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #44a;
    text-decoration: none;
}
a:hover   { color: #000; }
/*a:visited { color: #a0a; }*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.posts h2 {
  margin-bottom: 0px;
  /* margin-top: 15px; */
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  /* font-size: 115%; */
  text-align: justify;
  width: 90%;
  margin: .5em auto 2em;
  line-height: 1.5em;
}

.header {
  margin: 0.1em auto 2em auto;
  float: right;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}
.header a.menu {
  color: #aaa;
  border: 1px solid #bbb;
  padding: 5px;
  font-weight: normal;
  font-size: 75%;
  margin-right: 1em;
}

.header a.menu:hover {
  color: #000;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
  margin: 0.4em auto 0.4em auto;
}

.meta .tags {
    display: inline-block;
    margin-left: 2em;
}

.meta .tags .tag {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  margin-right: 0.2em;
  }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.content {
    margin-top: 2.5em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
/*
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
    */

.post ul, .post ol {
  margin-left: 1.35em;
}

/*
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
    */

/* div pre {
    overflow-x: auto;
}

.highlight {
    padding: 30px;
    border-radius: 6px;
    background-color: #272822;
    color: #f8f8f2;
    line-height: 1;
}

.post code {
    font-size: 1rem;
}

.post pre code {
  border: none;
} */

/* terminal */
/* .post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
} */

.tags {
  list-style-type: none;
}
.tags li {
    display: inline-block;
}
.tags a {
    text-decoration: none;
}

/* tags pag */
#alltags {
    margin-bottom: 2em;
}
#alltags a         {
  color: #33a;
  text-decoration: none;
  font-family: Monaco, "Courier New", monospace;
  margin-right: 0.1em;
}
#alltags a:hover   { color: #000; }
#alltags li { 
    display: inline-block;
}
#taggedposts ul { 
  list-style-type: none;
  margin-bottom: 1em;
}

/* logo */
#logo
{ }

#logo #logo_text
{ }

#logo h1, #logo h2
{ font: normal 38px 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
    color: #000;
    letter-spacing: 0.1em;
    text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #068900;}

#logo_text h2
{ font-size: 100%;
    padding: 4px 0 0 0;
    color: #676767;}
#logo_text .desc
{
    font-size: 12px;
    color: #aaa;
    margin-left: 1em;
}

.cc {
    margin-top: 2em;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
}


